.courseContainer {
    margin: 2em 0 0 2em;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1335px) {
    .courseContainer {
        align-self: center;
        justify-content: center;
        margin: 2em 0 0 0;
    }
}